.chef-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center; */
    margin-right: 40px;
}

@media screen and (max-width: 576px) {
    .chef-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin-left: 40px;
    }
  }

.card-img{
    height: 30vh;
    padding: 5px;
    border-radius: 10px;
}