
.banner-logo{
    height: 65px;
    object-fit: contain;
}

.navbar-color{
    background-color: #1c2331;
}

.button-color{
    background-color: #6351ce;
    width: 120px;
    border: none;
    border-radius: 50px;
}

.button-color:hover{
    color: rgb(255, 255, 255);
    background-color: #1c2331;
}

.header-img{
    height: 50px;
    object-fit: contain;
}


.nav-text-color{
    color: white;
}

.active{
    color: #6351ce;
}