.banner-logo{
    height: 90px;
}

.navbar-color{
    background-color: #1c2331;
}

.button-color{
    background-color: #1c2331;
    width: 120px;
    border: none;
    border-radius: 50px;
}

.button-color:hover{
    color: rgb(255, 255, 255);
    background-color: #6351ce;
}

.header-img{
    height: 50px;
}